{% extends 'base.twig' %}

{% block content %}

<h2>Admin section</h2>

{% if users %}
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Delete</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.userid|raw }}</td>
            <td><a href="/user/{{ user.username|raw }}">{{ user.username|raw }}</a></td>
            <td><a href="/admin/delete/{{ user.username|raw }}">Delete user</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    The users table is empty.
{% endif %}

{% if patent %}
    <table class="adminPatents">
        <tr>
            <th> Title</th>
            <th> Delete</th>
        </tr>
        {% for patents in patent %}
        <tr>
            <td><a href="/patent/{{ patents.patentId|raw }}">{{ patents.title }}</a></td>
            <td><a href="/admin/delete/patent/{{ patents.patentId|raw }}">Delete patent</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    There are no patents!
{% endif %}

{% endblock %}
