<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.3/semantic.min.css"/>

        {% set titleVar = 'Patentsy AS' %}

        <title>{{ title|default(titleVar) }}</title>
        <script src="/js/app.js"></script>
        <script>
        </script>
    </head>

    <body>
        <div class="ui red fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item">
                    {{ title|default(titleVar) }}
                </a>
                <a href="#" class="item">About us</a>
                <div class="right menu">
                    {% if isLoggedIn %}
                        <a href="#" class="item">Logged in as {{ loggedInUsername }}</a>
                        <a href="{{ urlFor('logout') }}" class="item">Log out</a>
                    {% else %}
                        <a href="{{ urlFor('newuser') }}" class="item">Create account</a>
                        <a href="/login" class="item">Log in</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="container">
            <div id="navbar">
                {% if isLoggedIn %}
                    <a href ="{{ urlFor('showpatents') }}"> Show patents</a> <br>
                    <a href="{{ urlFor('editprofile') }}">Edit profile</a> <br>
                    <a href="{{ urlFor('registerpatent') }}"> Register patent</a><br>
                {% endif %}

                {% if isAdmin %}
                    <a href="{{ urlFor('admin') }}">Admin section</a> <br>
                {% endif %}

                <br>

                <a href="/aboutus"> About Us </a> <br>
            </div>

            <div id="content">
                <div id="flashinfo">{{ flash.info|raw }}</div>
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            {% block footer %}here be footer{% endblock %}
        </div>
    </body>
</html>
