{% extends 'base.twig' %}

{% block content %}

    <h2>Patents</h2>
    <div class="patents">
    {% if patent %}
    <table>
    	<tr>
    		<th> Title </th>
    		<th> Company/User </th>
    		<th> Description </th>
    	</tr>
    	{% for patents in patent %}
    		<tr>
    			<td> <a href="/patent/{{patents.patentId}}">{{ patents.title }}</a> </td>
                {% if patents.company == user.username %}
                <td><a href="/user/{{ patents.company|raw }}">{{ patents.company|raw }}</a></td>
                {% else %}
    			<td> {{ patents.company|raw }} </td>
                {% endif %}
    			<td> {{ patents.description|raw }}</td>
    		</tr>
    	{% endfor %}
    </table>
    {% else %}
        There are no patents registered yet!
    {% endif %}
    </div>

{% endblock %}
