{% extends 'layouts/base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info}} <br />
{{ flash.error}} <br />

{% if user %}
    <table>
        <tr>
            <th>Id</th>
            <th>{{ user.userid|raw }}</th>
            <tr></tr>
            <th>Username:</th>
            <td>{{ user.username|raw }}</th>
            <tr></tr>
            <th>First Name:</th>
            <td>{{ user.firstName }}</td>
            <tr></tr>
            <th>Last Name:</th>
            <td>{{ user.lastName }}</td>
            <tr></tr>
            <th>Company:</th>
            <td>{{ user.company|raw }}</td>
            <tr></tr>
            <th>Phone:</th>
            <td>{{ user.phone|raw }}</td>
            <tr></tr>
            <th>Hash:</th>
            <td><!-- {{ user.hash|raw }} -->********************************(not shown)</td>
            <tr></tr>
            <th>Email:</th>
            <td>{{ user.email }}</td>
            <tr></tr>
    </table>
{% else %}
    Could not find a user with username "{{ username|raw }}".
{% endif %}

{% endblock %}
